
@ms2-et-color-bg: #f0f0f0;
@ms2-et-color-primary: #21bab0;
@ms2-et-color-red: #dbaf00;

.text-hev-e-primary {
    color: @ms2-et-color-primary;
}

.btn-primary {
    .button-variant(@ms2-color-primary; @ms2-et-color-bg; darken(@ms2-et-color-bg, 7%));
    &[disabled] {
        opacity: 0.9;
        background-color: @ms2-color-disabled;
        color: @ms2-color-text-disabled;
    }
}

.leaflet-control-scale {
    top: auto;
    right: auto;
    clear: none;
    z-index: 1000;
}

div.ol-scale-line.ol-unselectable {
    border: 1px solid #ffffff;
    border-top: none;
    line-height: auto;
    border-radius: 0;
    right: auto;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-family: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: auto;
    background-color: rgba(255, 255, 255, 0.7) !important;
    color: #333333 !important;
    bottom: 8px;
    left: 8px;
    padding: 0;
    position: absolute;

    div.ol-scale-line-inner {
        color: #333333 !important;
        font-weight: bold;
        border: 2px solid #333333;
        border-top: none;
        padding: 2px 2px 4px 2px;
    }
}

.ol-attribution.ol-uncollapsible {
    box-sizing: unset;
}

#dataexplorationtool-view-container {
    .et-brand-navbar {

        .shadow-soft;
        margin-bottom: 0;
        z-index: 500;
       
        margin-bottom: 0;
        border-color: transparent;
        .navbar-nav > li > a {
            font-size: 18px;
        }
        .container {
            
            width: auto;
            .navbar-header {
                margin: 0;
                .navbar-brand {
                    display: flex;
                    padding: 28px 15px;
                    a {
                        height: 100%;
                        padding-right: 10px;
                        margin-right: 10px;
                        border-right: 1px solid @ms2-et-color-bg;
                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
                
            }
            .navbar-form {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        &.navbar-inverse {
            .navbar-header {
                .navbar-brand {
                    a {
                        border-right: 1px solid #555;
                    }
                }
                
            }
        }
        
        .et-search-bar {
            #map-search-bar {
                top: 0;
                transition: 0.4s all;
                .form-group {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    .input-group {
                        flex: 1;
                        display: flex;
                        input {
                            flex: 1;
                            color: @ms2-color-primary;
                        }
                        .input-group-addon {
                            display: flex;
                            position: relative !important;
                            padding: 0;
                            width: auto;
                            .sk-spinner {
                                right: auto !important;
                                top: 2px !important;
                                left: 7px;
                                width: 27px;
                                height: 100%;
                                display: flex;
                                & > .sk-pulse {
                                    margin: auto;
                                }
                            }
                            & > * {
                                margin: auto;
                                font-size: 20px;
                            }
                            .searcherror {
                                margin-right: 10px;
                            }
                            .searchclear {
                                margin: auto 10px;
                                &:before {
                                    content: "U";
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            .glyphicon-search {
                                margin: auto 10px;
                            }
                        }
                    }
                }
                
            }

            .search-result-list {
                .shadow-far;
                border-radius: 0;
                max-height: 30vh !important;
                .search-result {
                    border-radius: 0;
                    &:hover {
                        background-color: @ms2-et-color-bg;
                        color: @ms2-color-primary;
                    }
                }
            }

            &.et-center {
                #map-search-bar {
                    position: fixed !important;
                    top: 200px;
                    right: auto;
                    left: auto;
                    margin: auto;
                    z-index: 5000;
                    .input-group {
                        width: 500px;
                        .shadow-far;
                        input {
                            height: 62px !important;
                            box-shadow: none;
                        }
                        .input-group-addon {
                            height: 62px !important;
                        }
                    }
                    right: 50%;
                    margin-right: -250px;
                }

                .search-result-list {
                    position: fixed !important;
                    top: 277px;
                    right: auto;
                    left: auto;
                    margin: auto;
                    z-index: 5000;
                    left: 50%;
                    margin-left: -250px;
                }
            }

            &.et-top-left {

                #map-search-bar {
                    position: relative !important;
                    /*top: 5px;
                    right: 16px;
                    
                    z-index: 5000;*/
                    left: 0;
                    right: 0;
                    .input-group {
                        width: 500px;
                        .shadow-soft;
                        input {
                            height: 42px !important;
                            box-shadow: none;
                        }
                        .input-group-addon {
                            height: 42px !important;
                        }
                    }
                }

                .search-result-list {
                    position: absolute !important;
                    margin-top: 20px;
                    /*top: 10px;
                    right: 0;*/
                    left: auto;
                    z-index: 5000;
                    background-color: @ms2-color-background;
                }

                /*> *:last-child {
                    display: block;
                    overflow: hidden;
                    margin-left: auto;
                }
        
                #map-search-bar {
                    position: static !important;
                    width: 500px;
                    margin-top: 5px;
                    margin-right: 16px;
                    .input-group {
                        width: 500px;
                        input {
                            height: 42px !important;
                        }
                        .input-group-addon {
                            height: 42px !important;
                            width: 42px !important;
                        }
                    }
                }*/
            }

            
            
        }

        

        
    }
    > .ms2-border-layout-body {
        > .ms2-border-layout-content {
            display: flex;
            flex-direction: column;
            > #map {
                flex: 1;
                position: relative !important;
            }
            #mapstore-toolbar {
                
                #mapstore-toolbar-container {
                    .shadow-far;
                    .btn-success {
                        .button-variant(@ms2-color-primary; #c7c7c7; #c7c7c7);
                        &[disabled] {
                            opacity: 0.9;
                            background-color: @ms2-color-disabled;
                            color: @ms2-color-text-disabled;
                        }
                    }
                    .square-button {
                        height: 42px;
                        width: 42px;
                        display: flex;
                        padding: 0;
                        span {
                            margin: auto;
                            font-size: 20px;
                        }
                    }
                }
            }
            
        }
    }

    // DATA EXPLORER PANEL
    .et-data-explorer {
        display: flex;
        flex-direction: column;
        transition: width 0.2s ease-in;
        .shadow-far;
        .modal-fixed {
            position: relative;
            flex: 1;
            .modal-dialog-container {
                width: ~"calc(100% - 20px)";
                height: ~"calc(100% - 20px)";
                left: 10px;
                top: 10px;
            }
            .modal-header {
                background-color: @ms2-color-background;
                color: @ms2-color-primary;
            }
        }
        .ms-header {
            box-shadow: none;
            background-color: @ms2-et-color-bg;
            .row {
                background-color: @ms2-et-color-bg;
                .btn-default {
                    .button-variant(@ms2-color-primary; @ms2-et-color-bg; @ms2-et-color-bg);
                }
                &:last-child {
                    margin-bottom: 0; 
                }
                + .row {
                    margin-top: 0;
                }
            }

            .breadcrumb {
                margin-bottom: 0;
                border-bottom: 1px solid @ms2-color-shade-light;
                margin: 15px;
                margin-top: 0;
            }
        }
        .compat-catalog {
            flex: 1;
            .catalog-form {
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid @ms2-et-color-bg;
            }
            .msSideGrid {
                width: ~"calc(100% - 60px)";
                position: absolute;
            }
            main {
                position: relative;
            }
            .items-list {
                > .col-xs-12:hover {
                    z-index: 5;
                }
                .mapstore-side-card {
                    transform: none;
                }

            }
            .loader-container {
                display: flex;
                height: 100%;
                width: 100%;
                > div {
                    width: 128px !important;
                    height: 128px !important;
                    padding: 0 !important;
                }

                .erd_scroll_detection_container {
                    display: none !important;
                }
            }

            .empty-state-container {
                display: flex;
                height: 100%;
                width: 100%;
                transform: translateY(0) !important;
                .empty-state-main-view {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    flex-direction: column;
                    flex: 1;
                    .empty-state-image {
                        width: 128px;
                        height: 128px;
                        margin: auto;
                        margin-bottom: 10px;
                    }
                    h1 {
                        margin: auto;
                        margin-top: 10px;
                    }
                }
                .empty-state-content {
                    display: block;
                }
            }

            .mapstore-side-card {
                display: flex;
                > div {
                    float: none;
                    clear: both;
                }
                .mapstore-side-preview {
                    display: flex;
                    margin: 0;
                    width: @square-btn-size * 2;
                    height: @square-btn-size * 2;
                    > * {
                        margin: auto !important;
                        padding: 0 !important;
                        width: 100%;
                    }
                }
                .mapstore-side-card-info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 0;
                    & > div {
                        flex: 1;
                        display: flex;
                        margin-bottom: 0;
                        overflow: hidden;
                        min-width: 0;
                        align-items: center;
                        span {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
                .mapstore-side-card-tool {
                    width: auto;
                    display: flex;
                    width: auto;
                    > * {
                        margin: auto 10px;
                    }
                }
            }
        }

        .et-related-head {
            position: relative;
            z-index: 501;
            background-color: @ms2-color-background;
            padding: 15px;
            margin: 0;
            h4 {
                margin: 0;
            }
            .shadow-soft;
        }

        .et-related-list {
            position: relative;
            z-index: 500;
            width: 100%;
            background-color: @ms2-et-color-bg;
            overflow-x: auto;
            overflow-y: hidden; 
            
            .et-related-list-container {
                white-space: nowrap;
            }
        }
    }
}

.ms-square-card {
    display: inline-block;
    width: 156px;
    height: 156px;
    margin: 15px 0 15px 15px;
    background-color: @ms2-color-background;
    min-width: 0;
    flex-direction: column;
    transition: 0.3s all;
    .shadow-soft;
    .ms-square-card-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .ms-top-card {
            display: flex;
            width: 100%;
            > *:first-child {
                flex: 1;
                margin: 10px;
                border-bottom: 1px solid @ms2-et-color-bg;
            }
            .glyphicon {
                display: block;
                padding: 10px;
                &:hover {
                    color: @ms2-color-primary;
                    cursor: pointer;
                }
            }
        }
        .ms-preview-card {
            flex: 1;
            display: flex;
            height: 100%;
            > i {
                margin: auto;
                display: block;
            }
        }
    }
    &:hover {
        .shadow-far;
        transform: scale(1.01);
    }
    &:first-child {
        margin-left: 15px;
    }
    &:last-child {
        margin-right: 15px;
    }
}

.et-dataset-button {
    position: absolute;
    .shadow-far;
    top: 5px;
    left: 5px;
    height: 42px;
    width: 42px;
    display: flex;
    padding: 0;
    span {
        margin: auto;
        font-size: 20px;
    }
}

.toolbarexpand-enter {
    opacity: 1.0 !important;
    height: 1px !important;
    overflow: hidden !important;
}
  
.toolbarexpand-enter.toolbarexpand-enter-active {
    opacity: 1;
    transition: all 500ms ease-in !important;
    height: 42px !important;
    overflow: hidden !important;
}
  
.toolbarexpand-leave {
    opacity: 1;
    height: 42px !important;
    overflow: hidden !important;
}
  
.toolbarexpand-leave.toolbarexpand-leave-active {
    opacity: 1.0 !important;
    transition: all 300ms ease-in !important;
    height: 1px !important;
    overflow: hidden !important;
}

.checkbox {
    &.disabled {
        label {
            color: darken(@ms2-et-color-bg, 10%);
        }
    }
}

.et-catalog {
    .et-filter {
        width: 220px;
        height: 100%;
        border-right: 1px solid @ms2-et-color-bg;
        display: flex;
        flex-direction: column;
        .container-fluid {
            width: 100%;
            &:first-child {
                border-bottom: 1px solid @ms2-et-color-bg;
            }
            &:last-child {
                overflow-y: auto;
            }
        }
        
    }
}

@media screen and (max-width: 1366px) {
    .et-catalog {
        flex-direction: column;
        .et-filter {
            width: 100%;
            height: 220px;
            border-top: 1px solid @ms2-et-color-bg;
            border-bottom: 1px solid @ms2-et-color-bg;
            border-right: none;
        }
    }

    .et-search-bar.et-top-left {
        .MapSearchBar {
            width: 300px !important;
        }
        .search-result-list {
            width: 300px !important;
        }
    }
    
}
/*
@media (max-width: 878px) {
    #dataexplorationtool-view-container{
        #mapstore-navbar-container {
            .et-brand-navbar {
                .container {
                    .navbar-header {
                        .navbar-brand {
                            // padding: 32px 15px;
                        }
                    }
                }   
            }
        }
    }
}*/

@media (max-width: 768px) {
    #dataexplorationtool-view-container {
        .et-brand-navbar {
            .et-search-bar {
                &.et-top-left {
                    #map-search-bar {
                        top: 0px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .et-brand-navbar {
        border: none;
        .container {
            background-color: @ms2-color-background;
            .shadow-soft;
            .navbar-header {
                width: 100%;
            }
        }

        .search-result-list {
            width: ~"calc(100% - 20px)" !important;
            left: 10px !important;
            margin-left: 0 !important;
        }

        .MapSearchBar {
            width: ~"calc(100% - 20px)" !important;
            left: 10px !important;
            margin-left: 0 !important;
        }
    }

    .et-dataset-button {
        top: 10px;
    }

    #dataexplorationtool-view-container {
        .et-brand-navbar {
            &.navbar-inverse {
                background-color: @navbar-inverse-bg;
                .container {
                    background-color: @navbar-inverse-bg;
                }
            }
            .et-search-bar {
                &.et-top-left,
                &.et-center {
                    #map-search-bar {
                        position: static !important;
                        width: 100% !important;
                        /*top: 5px;
                        right: 16px;
                        
                        z-index: 5000;*/
                        left: 0;
                        .input-group {
                            width: 100% !important;
                            .shadow-soft;
                            input {
                                height: 42px !important;
                                box-shadow: none;
                            }
                            .input-group-addon {
                                height: 42px !important;
                            }
                        }
                    }
    
                    .search-result-list {
                        position: static !important;
                        width: 100% !important;
                        top: 10px;
                        right: 0;
                        left: auto;
                        z-index: 5000;
                    }
                }
            }
        }
    }
    
}

hr {
    margin: 10px 0;
}


.et-details {
    .btn-group {
        float: right;
        margin-bottom: 30px;
    }
}
