
@ms2-color-background: #ffffff;

@ms2-color-text-primary: #f0f0f0;
@ms2-color-text: #555555;

@ms2-color-disabled: #eeeeee;
@ms2-color-text-disabled: #aaaaaa;

@ms2-color-primary: #555;
@ms2-color-info: #55ba58;
@ms2-color-success: @ms2-et-color-primary;
@ms2-color-warning: @ms2-et-color-red;
@ms2-color-danger: #bb384b;

@ms2-color-shade: #555555;
@ms2-color-shade-darker: #1B1B1B;
@ms2-color-shade-dark: #555555;
@ms2-color-shade-light: #555555;
@ms2-color-shade-lighter: darken(#f0f0f0, 5%);
